
.container{
	width: 1100px;
}
body
  {
  background-color:white;
  }
  
.form-control{
	width: 210px;
}

p{
	font-size: 15px;
	 
}
  
#footer1{
	text-align:center;
}

}
.hiddenInfo {
  display: none;
}

#locationsettle,#locationportland{
	font-family: yellow;
	color:#33c2c3;
}


#suggestion,#genderFemale,#locationsettle,
#locationportland,
#genderMale,#suggestionOfCsharp,
#suggestionOfCss,#suggestionOfJava{
	 display: none;
}

footer {
  position: relative;
 
  
	
}
