body
  {
  background-color:#8FE0DB;
  }

}
.hiddenInfo {
  display: none;
}

#suggestion{
	 display: none;
	
}
 

#suggestionOfJava{
	 display: none;
}
#suggestionOfCsharp{
	 display: none;
}
#suggestionOfCss{
	 display: none;
}
